:host {
  display: block;
  height: 100%;
}

.container {
  height: calc(100% - 65px - 1rem);
  overflow: auto;
  &__content {
    height: 100%;
  }
}

.widget-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  & > * {
    flex: 1 1 49%;
  }
}

mat-toolbar {
  justify-content: space-between;
}
