@if (currentWeather()) {
  <div class="basic">
    @if (currentWeather()?.dt_txt) {
      <!--   TODO: The date format must be taken from user settings   -->
      <div>{{currentWeather()?.dt_txt | date:'dd/MM/yyyy H:mm'}}</div>
    }
    @if (currentWeather()?.main?.temp) {
      <div>
        Temp: {{currentWeather()?.main?.temp?.toFixed(0)}}&deg;
        @let tempMin = currentWeather()?.main?.temp_min?.toFixed(0);
        @let tempMax = currentWeather()?.main?.temp_max?.toFixed(0);
        @if (tempMin !== tempMax) {
          ({{tempMin}}&deg; - {{tempMax}}&deg;)
        }
      </div>
    }
    @if (currentWeather()?.main?.humidity) {
      <div>Humidity: {{currentWeather()?.main?.humidity}}%</div>
    }
    @for (cond of currentWeather()?.weather; track cond.id) {
      <div> <span>{{cond.main}}</span>: <span>{{cond.description}}</span> </div>
    }
  </div>
}
